<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title, link)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:replace="${link}" rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title th:replace="${title}">TITLE</title>
</head>
<body>

<header th:fragment="navbar" class="mb-5">
    <div>
        <h3 class="float-md-start mb-0">My Anthology</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" th:href="@{/home}">Home</a>
            <a class="nav-link" th:href="@{/overview}">Overview</a>

            <a class="nav-link" th:href="@{/users/new}">New Account</a>
        </nav>
    </div>
</header>

<footer th:fragment="footer" class="mt-auto text-white-50">
    <p>Annemiek Blaauwgeers &copy; 2022</p>
</footer>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>