<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>Update books</title>
</head>
<body class="d-flex h-100 text-white bg-dark">

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments/general :: navbar"></header>

    <main class="px-3">
        <h1 class="text-center">Edit <span th:text="${bookTitle}"></span></h1><br>
        <hr class="border-bottom">

        <form class="lead" th:action="@{/books/new}" method="post" th:object="${book}">
            <input type="hidden" th:field="*{bookID}" />
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" th:field="*{author}">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
            </div>
            <div class="mb-3 form-check">
                <input type="radio" class="form-check-input" id="readYes" th:field="*{read}" th:value=1>
                <label for="readYes" class="form-check-label">Read</label>
            </div>
            <div class="mb-3 form-check">
                <input type="radio" class="form-check-input" id="readNo" th:field="*{read}" th:value=0>
                <label for="readNo" class="form-check-label">Unread</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-secondary">Add book</button>
            </div>
        </form>
    </main>

    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomScripts"></div>
</div>

</body>
</html>