<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cover.css}">
    <title>My Anthology</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">My Anthology</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" th:href="@{/homepage}">Home</a>
                <a class="nav-link" th:href="@{/users/new}">Create User</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Welcome to your personal Anthology!</h1><br>
        <p class="lead">
            Too many books in your bookcase? Lost count of how many you read,
            or how many are still waiting to finally be dusted off?<br>
            Now, with your very own anthology, you can easily keep track of your ever-growing hoard of books!<br>
            <br>
            In your personal anthology, you can record which books you own, which are read or unread,
            and which books you just have to buy even though your bookcase is filled to the brim.
        </p><br>
        <p class="lead">
            <a th:href="@{/login}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log in</a>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Annemiek Blaauwgeers &copy; 2022</p>
    </footer>

    <div th:replace="fragments/general :: bottomScripts"></div>
</div>

</body>
</html>